# Ignore build artifacts and binaries
*.o
*.out
sr

# Ignore Python cache and bytecode
__pycache__/
*.pyc

# Ignore log files
*.log

# Ignore egg-info and other Python packaging files
*.egg-info/

# Ignore other temporary files
*~
.DS_Store
